<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Addressbook</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AddressBook", "Index", "Main", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav ">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="navbar-right">@Html.ActionLink("Address book", "Addressbook", "Main")</li>
                        <li class="navbar-right">
                            <input type="text" class="input-sm" id="searchField"/>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="searchDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Search by
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="searchDropDown">
                                    <li><a href="#" name="byAll" onclick="Search(this)">All</a></li>
                                    <li><a href="#" name="byName" onclick="Search(this)">Name</a></li>
                                    <li><a href="#" name="byAddress" onclick="Search(this)">Address</a></li>
                                    <li><a href="#" name="byPhone" onclick="Search(this)">Phone</a></li>
                                </ul>
                            </div>
                        </li>
                    }
                </ul>

                <script type="text/javascript">
                    function Search(e) {
                        var searchBy = e.target.name;
                        var query = $('#searchField').text();

                        $.ajax({
                            type: 'POST',
                            data: {
                                "searchBy": searchBy,
                                "query": query
                                },
                            url: "/Main/Search/"
                        });
                    }
                </script>

                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="navbar-right">@Html.ActionLink("Log out", "Logout", "Account")</li>
                        <li class="navbar-right" title="Go to personal cabinet">@Html.ActionLink(User.Identity.Name, "Cabinet", "Main")</li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="navbar-right">@Html.ActionLink("Log In", "Login", "Account")</li>
                        <li>@Html.ActionLink("Register", "Register", "Account")</li>
                    </ul>
                }
                

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <script src="~/Scripts/MapScript.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj9wjc6qirHgL3ktrDuah1dO1-5WXEI_M&callback=initMap">
    </script>
</body>
</html>
